<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="creative world"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" &quot;@D:\\Minecraft\\modding\\Mcreator\\MCreatorWorkspaces\\creative world\\build\\moddev\\serverRunProgramArgs.txt&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" &quot;@D:\\Minecraft\\modding\\Mcreator\\MCreatorWorkspaces\\creative world\\build\\moddev\\serverRunVmArgs.txt&quot; &quot;-Dfml.modFolders=testproject%%D:\\Minecraft\\modding\\Mcreator\\MCreatorWorkspaces\\creative world\\bin\\main&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:\Minecraft\modding\Mcreator\MCreatorWorkspaces\creative world\run"></stringAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"></booleanAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"></booleanAttribute>
</launchConfiguration>